<div class="tier">
  <table>
    <colgroup>
      <col width="15%">
      <col width="35%">
      <col width="15%">
      <col width="15%">
      <col width="20%">
    </colgroup>
    <tbody *ngFor="let tier of tiers">
      <ng-container>
        <tr class="tier-num">
          <td colspan="5">{{positions[position]}}{{tier.tierNumber}}</td>
        </tr>
        <!-- <tr class="col-headers">
          <td>Rank</td>
          <td width="35%">Name</td>
          <td>ADP</td>
          <td width="20%"></td>
        </tr> -->
        <tr *ngFor="let player of tier.players | search: (query$ | async); let i = index"
          [ngClass]="{'drafted': player.drafted}">
          <td>{{tier.startingAtRank + i}}</td>
          <td>{{player.name}}</td>
          <td>{{player.points}}</td>
          <td>{{player.adp}}</td>
          <td><button class="btn btn-primary" [disabled]="player.drafted"
              (click)="draftPlayer.emit(player._id)">Draft</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
