h3 {
  font-weight: lighter;
  padding-left: 10px;
  font-size: 1.6em;
}

.tier {
  background-color: #fff;
  // padding: 5px 0;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  table {
    width: 100%;
    table-layout: fixed;

    tbody {
      tr {
        font-weight: 350;

        &.drafted {
          text-decoration: line-through;
        }

        &.col-headers {
          font-size: .8em;
          color: #747474;
          padding: 0;

          td {
            text-align: right;
            font-weight: bolder;
            height: 22px;

            &:first-of-type {
              padding-right: 15px;
            }

            &:nth-of-type(2) {
              text-align: left;
            }

            &:last-of-type {
              padding-right: 8px;
            }
          }
        }

        &.tier-num {

          td {
            background-color: #f8f8f8;
            text-align: left;
            padding-left: 25px;
            font-size: 1.4em;
            font-weight: 350;
            position: sticky;
            top: 0;
            height: 75%;
            color: #909090;
          }
        }

        td {
          text-align: right;
          height: 45px;
          font-size: 14px;

          &:first-of-type {
            padding-right: 15px;
          }

          &:nth-of-type(2) {
            text-align: left;
          }

          &:last-of-type {
            padding-right: 8px;
            z-index: 1;
          }

          .btn.btn-primary {
            padding: 3px 5px;

            &:disabled {
              background-color: #f1f1f1;
              border-color: #f1f1f1;
              color: #acacac
            }
          }
        }
      }
    }
  }
}
