.cell {
  height: 58px;
  width: 100px;
  background-color: #ececec;
  border-radius: 3px;
  margin: 1px;
  padding: 2px 5px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;

    .round-pick {
      font-weight: bolder;
      color: #7d7d7d;
      opacity: .8;
    }
  }


  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13px;
    margin-top: 5px;

    .name {
      line-height: 1;
      width: 75px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .last-name {
        font-weight: 600;
        padding-bottom: 3px;
      }
    }

    .bye {
      font-size: 11px;
      align-self: flex-end;
      line-height: 1;
      margin-bottom: 4px;
      background-color: inherit;
    }
  }

  &.QB {
    background-color: #ff2b6d;
  }

  &.RB {
    background-color: #00ceb8;
  }

  &.WR {
    background-color: #58a7ff;
  }

  &.TE {
    background-color: #ffae58;
  }

  &.QB,
  &.RB,
  &.WR,
  &.TE {
    color: #fff;

    .top {
      .round-pick {
        color: #fff;
      }
    }
  }
}
