.main {
  height: 100%;
  border-bottom: 3px solid #f1f1f1;
  display: flex;
  justify-content: space-between;


  .icons {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #00ceff;
    border-right: 1px solid #f4f4f4;

    i {
      font-size: 2em;
      cursor: pointer;
      padding: 10px 0;
    }
  }

  .current {
    .title {
      font-size: 34px;

      .number {
        font-weight: lighter;
      }
    }
  }
}
