<div class="tiers" *ngIf="(tiers$ | async) as tiers">
  <app-tier-card [hideTierNumber]="position === positions.FLEX" [tiers]="tiers" (draftPlayer)="draftPlayer.emit($event)"
    [position]="position" [query$]="query$"></app-tier-card>
</div>
<!-- <app-tier-card *ngFor="let tier of tiers" [players]="tier.players" [tier]="tier.tierNumber"
    [hideTierNumber]="position === positions.FLEX" [startingAtRank]="tier.startingAtRank" [tiers]="tiers"
    (draftPlayer)="draftPlayer.emit($event)"></app-tier-card> -->
