<div>
  <button class="btn btn-primary" [routerLink]="'/draft'">Draft</button>
  <button class="btn btn-danger" (click)="resetDrafted()">Reset</button>
  <ngb-tabset (tabChange)="updateTab($event)">
    <ngb-tab title="QB">
      <ng-template ngbTabContent>
        <app-position-tab [position]="positions.QB" (draftPlayer)="draftPlayer($event)"></app-position-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="RB">
      <ng-template ngbTabContent>
        <app-position-tab [position]="positions.RB" (draftPlayer)="draftPlayer($event)"></app-position-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="WR">
      <ng-template ngbTabContent>
        <app-position-tab [position]="positions.WR" (draftPlayer)="draftPlayer($event)"></app-position-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="TE">
      <ng-template ngbTabContent>
        <app-position-tab [position]="positions.TE" (draftPlayer)="draftPlayer($event)"></app-position-tab>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="FLEX">
      <ng-template ngbTabContent>
        <app-position-tab [position]="positions.FLEX" (draftPlayer)="draftPlayer($event)"></app-position-tab>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
